* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/*----------common rules -------*/

.common-color {
  color: #4c4c4c;
}

.common-background {
  background-color: #0077c5;
}

.parent-position {
  position: relative;
}

.child-position {
  position: absolute;
}

.flex-display {
  display: flex;
  justify-content: center;
}

/*---------header----------*/

header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 20px 0;
}

.info {
  font-size: 8px;
  line-height: 1.5;
  color: #505050;
}

.info-link {
  text-decoration: none;
}

.sign-in-btn {
  color: #fff;
  cursor: pointer;
  font-size: 0.5em;
  font-weight: normal;
  border: none;
  padding: 5px 20px 5px 20px;
  border: 0.5px solid #000;
  border-radius: 2px;
  margin: 0 10px 0 10px;
  text-align: end;
}

.fa-unlock-alt {
  right: 50px;
}

/*-----------logos----------*/

.main-logo {
  margin-bottom: 15px;
}

.small-logos {
  margin-bottom: 15px;
}

.main-logo-image {
  width: 90px;
  height: 30px;
}

.mint-logo {
  width: 46px;
}

.turbotax-logo {
  width: 60px;
}

.quickboks-logo {
  width: 70px;
}

/*-----------------main section --------------*/

main {
  align-content: center;
  width: 32%;
  margin: auto;
  background-color: #fff;
  margin: 0 auto;
  border: 0.4px solid #808080;
  padding: 1px;
  height: auto;
}

.form-center {
  width: 100%;
  height: auto;
  margin-left: -11%;
}

.input-width {
  min-height: 30px;
  width: 93%;
}

.form-input {
  margin-left: 15%;
  width: 100%;
}

.form-input {
  margin-left: 15%;
  font-size: 12px;
}

.label-control {
  font-size: 13px;
  font-weight: 300;
  color: rgba(64, 64, 64);
}

.title {
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.description {
  font-size: 11px;
  text-align: center;
  padding-bottom: 15px;
}

.more-info {
  text-decoration: none;
  font-size: 10px;
}

.centre-input {
  height: 2.5em;
}

.fa-lock-open {
  color: #8d9096;
  right: 10%;
  margin-top: 10px;
}

.create-button {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.agreement {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.captcha-parent {
  background-color: #eceef1;
  padding: 5px;
  margin-top: 1.3rem;
}

p.captcha {
  font-size: 8px;
  text-align: center;
  padding: 5px;
}

em {
  font-size: x-small;
  text-align: center;
  align-content: center;
  align-items: center;
}

.fa-lock {
  left: 25%;
}

/*----------footer section ---------*/

.footer-menu {
  margin: 20px;
}

.footer-menu li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: x-small;
}

.footer-menu a {
  text-decoration: none;
  color: #000;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.copy-right {
  font-size: x-small;
  text-align: center;
}

ul {
  text-align: center;
}

.copy-right {
  font-size: x-small;
  text-align: center;
  margin-bottom: 5%;
}
