   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
    }
    
    body{
        background-color: #ECEEF1;
    }

    header{
        display: flex;
        justify-content: flex-end;
    }

    /*-----------logos----------*/
   
    .main-logo{
        display: flex;
        justify-content: center;
    }

    .small-logos{
        display: flex;
        justify-content: center;
    }

    .main-logo-image{
        width: 118px;
        height:35px
    }
   
    .mint-logo{
        width: 46px;
    }
    .turbotax-logo{
        width: 60px;
    }
    .quickboks-logo{
        width: 70px;
    }

    
   
   
   /*    
    .wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }
    
    .wrapper>div {
        background: #EEE;
        padding: 1em;
        margin: 1em;
    }
    
    .wrapper>div:nth-child(even) {
        background: #ddd;
    }
    /*
img.logo {
    width: 300px;
    height: 150px;
}

p {
    font-size: 12px;
    text-align: center;
}

p.corner {
    color: #000;
    font-size: 14px;
}

p.user {
    color: red;
    font-size: 14px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: row;
    /* Center the form on the page *
    margin: 0 auto;
    padding-top: 50px;
    width: 400px;
    /* Form outline 
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment *
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font *
    font: 1em sans-serif;
    /* Uniform text field size *
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders *
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements *
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels *
    vertical-align: top;
    /* Provide space to type some text *
    height: 5em;
}

.button {
    /* Align buttons with the text fields *
    padding-left: 90px;
    /* same size as the label elements 


}
button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields *
    margin-left: .5em;
}